<nav class="navbar navbar-expand-sm navbar-dark bg-primary no-gutters" *ngIf="auth.isLoggedIn()">
    <a class="navbar-brand" href="#">WhiteBoard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li>
            <a [routerLink]="['aircrafts']"
            routerLinkActive="router-link-active"
            class="nav-link"
            >Aircrafts</a>
        </li>
        <li>
            <a [routerLink]="['shelters']" 
            routerLinkActive="router-link-active"  
            class="nav-link" >Shelters</a>
        </li>
        <li>
            <a [routerLink]="['issues']" 
            routerLinkActive="router-link-active"  
            class="nav-link" >Issues</a>
        </li>
        <li>
            <a [routerLink]="['calibrations']" 
            routerLinkActive="router-link-active"  
            class="nav-link" >Calibration</a>
        </li>
        </ul>
        <ul class="user navbar-nav">
            <li>
                <a class="nav-link" [routerLink]="['account']" routerLinkActive="router-link-active" >
                    <i class="material-icons ">
                    account_circle
                    </i>
                </a>

            </li>
            <li>
                <a [routerLink]="['/logout']" routerLinkActive="router-link-active"  class="nav-link">
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>