<div class="container card-list">
    <div class="row">
        <div class="col-sm">
            <div class="card bg-primary mb-3 card-list">
                <div class="card-header" (click)="toggle(body1, icon1)">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <h6>Batteries Due This Week</h6>
                        </div>
                        <div class="col-auto">
                            <i class="material-icons" #icon1>
                                expand_more
                            </i>
                        </div>                        
                    </div>
                </div>
                <div class="card-body" #body1>
                    <table class="table table-hover" *ngIf="battsThisWeek; else noAircraft">
                        <thead>
                            <th scope="col">Tail</th>
                            <th scope="col">Due Date</th>
                        </thead>
                        <tbody>
                            <tr class="table-default" *ngFor="let av of aircraftList" (dblclick)="avClicked(av._id)">
                                <td scope="row">{{av.tailNumber}}</td>
                                <td>{{av.reconDate | moment: [28, 'days'] | date: 'MM/dd'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <ng-template #noAircraft>
                        <small><em>No batteries due</em></small>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card bg-primary mb-3 card-list">
                <div class="card-header" (click)="toggle(body2, icon2)">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <h6>Shelter Inspections This Week</h6>
                        </div>
                        <div class="col-auto">
                            <i class="material-icons" #icon2>
                                expand_more
                            </i>
                        </div>
                    </div>
                </div>
                <div class="card-body" #body2>
                    <ng-container *ngIf="shelterInspectionsThisWeek; else noInspections">
                        <ul class="list-group" *ngFor="let shelter of shelterList" >
                            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                                (dblclick)="shelterClicked(shelter._id)">
                                {{shelter.name}}
                                <span class="badge badge-primary badge-pill">{{shelter.inspectionsCount}}</span>
                            </li>
                        </ul>
                    </ng-container>
                    <ng-template #noInspections>
                        <small><em>No inspections due</em></small>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-sm">
            <div class="card bg-primary mb-3 card-list">
                <div class="card-header" (click)="toggle(body3, icon3)">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <h6>Calibration Forcast</h6>
                        </div>
                        <div class="col-auto">
                            <i class="material-icons" #icon3>
                                expand_more
                            </i>
                        </div>
                    </div>
                </div>
                <div class="card-body" #body3>
                    <table class="table table-hover" *ngIf="calThisWeek || calThisMonth || cal3Months; else noCal">
                        <ng-container *ngIf="calThisWeek">
                            <thead>
                                <th>This Week</th>
                                <th scope="col">Asset</th>
                                <th scope="col">Serial</th>
                                <th scope="col">Location</th>
                                <th scope="col">Due Date</th>
                            </thead>
                            <tbody>
                                <tr class="table-default" *ngFor="let cal of calThisWeekList">
                                    <td></td>
                                    <td scope="row">{{cal.name}}</td>
                                    <td scope="row">{{cal?.serialNumber}}</td>
                                    <td scope="row">{{cal.location}}</td>
                                    <td scope="row">{{cal.date | moment: [cal.duration, 'months'] | date:'MM/dd' }}</td>
                                </tr>
                            </tbody>
                            <hr>
                        </ng-container>
                        <ng-container *ngIf="calThisMonth">
                            <thead>
                                <th>This Month</th>
                                <th scope="col">Asset</th>
                                <th scope="col">Serial</th>
                                <th scope="col">Location</th>
                                <th scope="col">Due Date</th>
                            </thead>
                            <tbody>
                                <tr class="table-default" *ngFor="let cal of calThisMonthList">
                                    <td></td>
                                    <td scope="row">{{cal.name}}</td>
                                    <td scope="row">{{cal?.serialNumber}}</td>
                                    <td scope="row">{{cal.location}}</td>
                                    <td scope="row">{{cal.date | moment: [cal.duration, 'months'] | date:'MM/dd' }}</td>
                                </tr>
                            </tbody>
                            <hr>
                        </ng-container>
                        <ng-container *ngIf="cal3Months">
                            <thead>
                                <th>3 Months</th>
                                <th scope="col">Asset</th>
                                <th scope="col">Serial</th>
                                <th scope="col">Location</th>
                                <th scope="col">Due Date</th>
                            </thead>
                            <tbody>
                                <tr class="table-default" *ngFor="let cal of cal3MonthsList">
                                    <td></td>
                                    <td scope="row">{{cal.name}}</td>
                                    <td scope="row">{{cal?.serialNumber}}</td>
                                    <td scope="row">{{cal.location}}</td>
                                    <td scope="row">{{cal.date | moment: [cal.duration, 'months'] | date:'MM/dd' }}</td>
                                </tr>
                            </tbody>
                        </ng-container>
                    </table>
                    <ng-template #noCal>
                        <small><em>No cal due</em></small>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

</div>