<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card border-secondary mb-3">
                <div class="card-header" (click)="toggle(body, icon)">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <h6>Batteries Due This Week</h6>
                        </div>
                        <div class="col-auto">
                            <i class="material-icons" #icon>
                                expand_more
                            </i>
                        </div>                        
                    </div>
                </div>
                <div class="card-body" #body>
                    <table class="table table-hover">
                        <thead>
                            <th scope="col">Tail</th>
                            <th scope="col">Due Date</th>
                        </thead>
                        <tbody>
                            <tr class="table-default" *ngFor="let av of aircraftList" (dblclick)="avClicked(av._id)">
                                <td scope="row">{{av.tailNumber}}</td>
                                <td>{{av.reconDate | moment: [28, 'days'] | date: 'MM/dd'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>