<div class="container">
    <div class="row">
        <div class="col-auto mr-auto">
            <h4>Calibrations</h4>
        </div>
        <div class="col-auto">
            <a (click)="inActiveClicked()">
                <small><em>Looking for inactive calibrations?</em></small>
            </a>
        </div>
        <div class="col-auto">
            <a [routerLink]="['/calibrations/new']" >
                <i class="material-icons"> add_circle_outline</i>
            </a>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            <ng-container *ngFor="let location of locations">
                <li class="nav-item">
                    <a class="nav-link" (click)="tabSelected(location)">{{location}}</a>
                </li>
            </ng-container>
        </ul>
    </div>
    <div class="row">
        <div id="tab-content" class="tab-content" *ngIf="currentSet?.length > 0; else nothing">
            <div class="card text-white bg-primary mb-3 avcard">
                <div class="card-header">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            {{selectedLocation?.name}}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Serial#</th>
                                        <th scope="col">Cal Duration</th>
                                        <th scope="col">Cal Due</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let cal of currentSet">
                                        <tr (click)="calClicked(cal._id)">
                                            <td>{{cal.name}}</td>
                                            <td>{{cal?.serialNumber}}</td>
                                            <td>{{cal.duration}}/Mo.</td>
                                            <td>{{cal.date | moment: [cal.duration, 'months'] | date: 'MM/dd/yyy'}}</td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #nothing>
            <div class="col-auto">
                <h6>Nothing to display.. add a calibration item.</h6>
            </div>
        </ng-template>
    </div>
</div>