<div class="container">
    <div class="card text-white bg-primary-mb3">
        <div class="card-header"></div>
        <div class="card-body">
            <form [formGroup]="issueForm" novalidate>
                <div class="form-group">
                    <label for="title">Title <span class="required">*</span></label>
                    <input
                        id="title"
                        type="text" 
                        class="form-control"
                        formControlName="title"
                        [ngClass]="{
                            'is-valid': f.title.valid && (f.title.touched || f.title.dirty),
                            'is-invalid': f.title.errors && (f.title.errors.touched || f.title.dirty)
                        }">
                    <div class="form-control-feedback"
                        *ngIf="f.title.errors && (f.title.errors.requried && f.title.touched)">
                        <small><em class="required">Title is required</em></small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date">Date <span class="required">*</span></label>
                    <input 
                        type="date" 
                        class="form-control"
                        formControlName="date"
                        [ngClass]="{
                            'is-valid': f.date.valid && (f.date.touched || f.date.dirty),
                            'is-invalid': f.date.invalid && (f.date.errors.required && f.date.dirty)
                        }">
                    <div class="form-control-feedback"
                        *ngIf="f.date.errors && (f.date.errors.required && f.date.dirty)">
                        <small><em class="required">Date is required</em></small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea
                        class="form-control"
                        name="description" 
                        id="description" 
                        cols="30" 
                        rows="5"
                        formControlName="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="asset">Asset <span class="required">*</span></label>
                    <select 
                        class="form-control" 
                        name="asset" 
                        id="asset" 
                        formControlName="asset"
                        [ngClass]="{
                            'is-valid': f.asset.valid && (f.asset.touched || f.asset.dirty),
                            'is-invalid': f.asset.errors && (f.asset.errors.requried && f.asset.dirty)
                        }">
                        <ng-container *ngFor="let i of assetList">
                            <option value="{{i}}">{{i}}</option>
                        </ng-container>
                    </select>
                    <div class="form-control-feedback"
                        *ngIf="f.asset.errors && (f.asset.errors.required && f.asset.dirty)">
                        <small><em class="required">Please select an asset</em></small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="createdBy">Created By <span class="required">*</span></label>
                    <input class="form-control" 
                        type="text" name="createdBy"
                        formControlName="createdBy" 
                        [ngClass]="{
                            'is-valid': f.createdBy.valid && (f.createdBy.touched || f.asset.dirty)
                        }">
                    <div class="form-control-feedback"
                        *ngIf="f.createdBy.errors && (f.createdBy.errors.required && f.createdBy.dirty)">
                        <small><em class="required">Technician name required</em></small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input
                            class="custom-control-input"
                            type="checkbox" 
                            name="completed" 
                            id="completed"
                            checked=""
                            formControlName="completed">
                        <label for="completed" class="custom-control-label">Completed</label>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" *ngIf="!isNew" class="btn btn-danger" (click)="onDelete()">Delete</button>
                    <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
                    <button type="button" class="btn btn-success" [disabled]="!issueForm.valid" (click)="onSubmit()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>