<div class="container card-list">
    <div class="row">
        <div class="col-auto mr-auto">
            <h4>Shelters</h4>
        </div>
        <div class="col-auto">
            <a (click)="inActiveClicked()">
                <small><em>Looking for inactive shelters?</em></small>
            </a>
        </div>
        <div class="col-auto">
            <a [routerLink]="['/shelters/new']" routerLinkActive="router-link-active" >
               <i class="material-icons">add_circle_outline</i> 
            </a>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            <ng-container *ngFor="let shelter of shelterList">
                <li class="nav-item">
                    <a class="nav-link" (click)="tabSelected(shelter.name)">{{shelter?.name}}</a>
                </li>
            </ng-container>
        </ul>
    </div>
    <div class="row">
        <div id="tabContent" class="tab-content" *ngIf="shelter; else nothing">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            {{shelter.name}}
                        </div>                        
                    </div>
                </div>
                <div class="card-body" #body>
                    <legend>Inspections</legend>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">MGCS</th>
                                <th scope="col"> 7-Day</th>
                                <th scope="col"> 28-Day</th>
                                <th scope="col"> 84-Day</th>
                                <th scope="col"> 168-Day</th>
                                <th scope="col"> Air Filters</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr (dblclick)="shelterClicked(shelter._id)">
                                <td>{{shelter.name}}</td>
                                <td>{{shelter._7Day      | moment: [7, 'days']   | date: 'MM/dd'}}</td>
                                <td>{{shelter._28Day     | moment: [28, 'days']  | date: 'MM/dd'}}</td>
                                <td>{{shelter._84Day     | moment: [84, 'days']  | date: 'MM/dd'}}</td>
                                <td>{{shelter._168Day    | moment: [168, 'days'] | date: 'MM/dd'}}</td>
                                <td>{{shelter.airFilters | moment: [3, 'months'] | date: 'MM/dd'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <legend (click)="goToIssues()">Issues</legend>                                
                        </div>
                        <div class="col-auto">
                            <a [routerLink]="['/issues/new']" routerLinkActive="router-link-active" >
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                    </div>                        
                    
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Date</th>
                                <th scope="col">Completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let issue of issuesList" (dblclick)="issueClicked(issue._id)">
                                <ng-container *ngIf="!issue.completed">
                                    <td>{{issue.title }}</td>
                                    <td>{{issue.date | date: 'MM/dd/yyyy' }}</td>
                                    <td>{{issue.completed}}</td>                                       
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>                            
                </div>
            </div>
        </div>
        <ng-template #nothing>
            <h6><em>Select a tab to display shelter info</em></h6>
        </ng-template>
    </div>
</div>