<div class="container card-edit">
    <div class="card border-light mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Change password</h4>
          <form [formGroup]="passForm">
 
            <div class="form-group">
                <label for="oldPassword">Old Password <span class="required">*</span></label>
                <input
                  id="oldPassword"
                  type="password"
                  class="form-control"
                  formControlName="oldPassword"
                  [ngClass]="{
                    'is-valid': f.oldPassword.valid && (f.oldPassword.touched || f.oldPassword.dirty),
                    'is-invalid': f.oldPassword.invalid && (f.oldPassword.touched || f.oldPassword.dirty)}">
                <div class="form-group-feedback"
                    *ngIf="f.oldPassword.errors && (f.oldPassword.errors.required && f.oldPassword.touched)">
                  <small><em class="required">Password is required</em></small>
                </div>
            </div>
            <div class="form-group">
                <label for="password"> New Password <span class="required">*</span></label>
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  formControlName="password"
                  [ngClass]="{
                    'is-valid': f.password.valid && (f.password.touched || f.password.dirty),
                    'is-invalid': f.password.invalid && (f.password.touched || f.password.dirty)}">
                <div class="form-group-feedback"
                    *ngIf="f.password.errors && (f.password.errors.required && f.password.touched)">
                  <small><em class="required">Password is required</em></small>
                </div>
            </div>
            <div class="form-group">
              <label for="passConfirm">Confirm Password <span class="required">*</span></label>
              <input
                id="passConfirm"
                type="password"
                class="form-control"
                formControlName="passConfirm"
                [ngClass]="{
                  'is-valid': f.passConfirm.valid && (f.passConfirm.touched || f.passConfirm.dirty),
                  'is-invalid': (f.passConfirm.invalid || passForm.errors) && (f.passConfirm.touched || f.passConfirm.dirty)}">
              <div class="form-group-feedback"
                *ngIf="f.passConfirm.errors && (f.passConfirm.errors.required && f.passConfirm.touched)">
                <small><em class="required">Confirmation is required</em></small>
              </div>
              <div class="form-group-feedback"
                *ngIf="passForm.errors && (passForm.errors.notSame && f.passConfirm.touched)">
                <small><em class="required">Passwords must match</em></small>
              </div>
            </div>
              <div class="btn-group">
                  <button type="button" class="btn btn-default" [disabled]="!passForm.valid" (click)="onSubmit()">Update</button>
              </div>
          </form>
        </div>
    </div>
  </div>
  