<div class="container card-edit">
    <div class="card border-light mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Change password</h4>
          <form [formGroup]="passForm">
                <div class="form-group">
                    <label for="email">Email<span class="required">*</span></label>
                    <input
                        id="email"
                        type="email"
                        class="form-control"
                        formControlName="email"
                        [ngClass]="{
                        'is-valid': f.email.valid && (f.email.touched || f.email.dirty),
                        'is-invalid': f.email.invalid && (f.email.touched || f.email.dirty)}">
                    <div class="form-control-feedback"
                        *ngIf="f.email.errors && (f.email.touched || f.email.dirty)">
                        <small><em class="required">
                        <p *ngIf="f.email.errors.required">Email Required</p>
                        <p *ngIf="f.email.errors.pattern">Not a valid email</p>
                        <p *ngIf="f.email.errors.domain">Must be a valid GA email</p>                    
                        </em></small>
                    </div>            
                </div>
            <div class="form-group">
                <label for="password">Password <span class="required">*</span></label>
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  formControlName="password"
                  [ngClass]="{
                    'is-valid': f.password.valid && (f.password.touched || f.password.dirty),
                    'is-invalid': f.password.invalid && (f.password.touched || f.password.dirty)}">
                <div class="form-group-feedback"
                    *ngIf="f.password.errors && (f.password.errors.required && f.password.touched)">
                  <small><em class="required">Password is required</em></small>
                </div>
            </div>
            <div class="form-group">
              <label for="passConfirm">Confirm Password <span class="required">*</span></label>
              <input
                id="passConfirm"
                type="password"
                class="form-control"
                formControlName="passConfirm"
                [ngClass]="{
                  'is-valid': f.passConfirm.valid && (f.passConfirm.touched || f.passConfirm.dirty),
                  'is-invalid': (f.passConfirm.invalid || passForm.errors) && (f.passConfirm.touched || f.passConfirm.dirty)}">
              <div class="form-group-feedback"
                *ngIf="f.passConfirm.errors && (f.passConfirm.errors.required && f.passConfirm.touched)">
                <small><em class="required">Confirmation is required</em></small>
              </div>
              <div class="form-group-feedback"
                *ngIf="passForm.errors && (passForm.errors.notSame && f.passConfirm.touched)">
                <small><em class="required">Passwords must match</em></small>
              </div>
            </div>
              <div class="btn-group">
                  <button type="button" class="btn btn-default" [disabled]="!passForm.valid" (click)="onSubmit()">Update</button>
              </div>
          </form>
        </div>
    </div>
    <!-- <pre> Email: {{f.email.errors | json}}</pre>
    <pre> password: {{f.password.errors | json}}</pre>
    <pre> PassConfirm: {{f.passConfirm.errors | json}}</pre> -->
  </div>
  