<div class="container">
    <div class="card bg-primary mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-auto mr-auto">
                    <a [routerLink]="['/aircrafts']" routerLinkActive="router-link-active" >
                        <i class="material-icons">
                            chevron_left
                        </i>
                    </a>
                </div>
                <div class="col-sm mb-auto">
                    {{aircraft?.tailNumber}}
                </div>
                <div class="col-auto">
                    <i class="material-icons" (click)="onEditClick()">edit</i>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-auto ">
                    <h4>{{aircraft?.tailNumber}}</h4>
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <small>Created by: {{ aircraft?.createdBy }}</small>
                </div>
                <div class="col-sm-3">
                    <small>CreatedOn: {{ aircraft?.createdOn }}</small>
                </div>
            </div>
            <hr>
            <div class="row" *ngIf="issuesList?.length > 0">
                <legend>Issues</legend>
                <table class="table table-hover">
                    <thead>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Completed</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let issue of issuesList">
                            <ng-container *ngIf="!issue.completed">
                                <td>{{issue.title}}</td>
                                <td>{{issue.date}}</td>
                                <td>{{issue.completed}}</td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>                
            </div>
        </div>
    </div>  
</div>