<div class="container">
    <div class="row">
        <div class="col-ms-auto mr-auto">
            <h4>Aircrafts</h4>
        </div>
        <div class="col-sm-auto"><a [routerLink]="['inactive']" routerLinkActive="router-link-active" ><small><em>Looking for an inactive aircraft?</em></small></a></div>
        <div class="col-sm-auto">
            <a [routerLink]="['new']">
                <i class="material-icons">
                    add_circle_outline
                </i>
                New
            </a>
        </div>
    </div>
    <div class="row">
        <ng-container *ngIf="aircraftList?.length > 0; else nothing;">
            <ng-container *ngFor="let av of aircraftList;" >
                <ng-container *ngIf="av.isActive">
                    <div class="card text-white bg-primary mb-3 avcard">
                        <div class="card-header" (dblclick)="avClicked(av._id)" (click)="toggle(body, icon)">
                            <div class="row">
                                <div class="col-auto mr-auto">
                                    {{av.tailNumber}}
                                </div>
                                <div class="col-auto">
                                    Batts Due: {{av.reconDate | moment: [28, 'days'] | date: 'MM/dd'}}
                                </div>
                                <div class="col-auto">
                                    <i class="material-icons" #icon>
                                        expand_more
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" #body>
                            <div class="row">
                                <div class="col-auto mr-auto"><legend>Issues</legend></div>
                                <div class="col-auto">
                                    <a [routerLink]="['/issues/new']" routerLinkActive="router-link-active" >
                                        <i class="material-icons">add</i>New
                                    </a>
                                </div>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Tile</th>
                                        <th>Date</th>
                                        <th>Completed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let issue of issuesList">
                                        <tr *ngIf="issue.asset === av.tailNumber && !issue.completed" (dblclick)="issueClicked(issue._id)">
                                            <td>{{issue.title}}</td>
                                            <td>{{issue.date}}</td>
                                            <td>{{issue.completed}}</td>
                                        </tr>                                    
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-container>
            </ng-container>            
        </ng-container>

        <ng-template #nothing>
            <div class="col-auto mr-auto"><h4>No aircraft to display... add one</h4></div>
        </ng-template>
    </div>
</div>